body {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

section {
    flex: 1;
    display: flex;
}

article {
    flex: 1;
}

footer {
    align-self: flex-end;
}

nav {
    width: 100%;
    align-self: flex-start;
    display: flex;
}

nav>button {
    flex: 1;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: none;
}

nav>button:hover {
    background-color: black;
    color: white;
}

button {
    background-color: #e7e7e7;
    color: black;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
    transition-duration: 0.4s;
    margin-right: 2px;
}

button:hover {
    background-color: white;
}

.btn-menu {
    margin: 2px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column>input {
    margin: 2px;
}

.column>div {
    display: flex;
    width: 90%;
    margin-top: 4px;
}

.column>div>div {
    flex: 1;
}

.column>div>button {
    align-self: flex-end;
}

.column>div>label {
    flex: 1;
}

.column>div>input {
    align-self: flex-end;
}

.dir {
    flex-direction: column;
    align-items: center;
}

.dir_name {
    align-self: flex-start;
}

.dir_file {
    display: flex;
    width: 90%;
    margin-left: 10px;
    margin-top: 4px;
}

.dir_file>div {
    flex: 1;
}

.dir_file>button {
    align-self: flex-end;
}